@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task::-webkit-scrollbar {
  width: 2px;
}

/* .custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
} */

.image {
  background-image: url("assets/images/login-hero-Image.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
}
.hover-fill-red:hover {
  filter: invert(31%) sepia(100%) saturate(7478%) hue-rotate(340deg)
    brightness(97%) contrast(104%);
}
.fill-red {
  filter: invert(31%) sepia(100%) saturate(7478%) hue-rotate(340deg)
    brightness(97%) contrast(104%);
}
.fill-whitee {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.fill-wt:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
.fill-green {
  filter: invert(48%) sepia(91%) saturate(355%) hue-rotate(85deg)
    brightness(95%) contrast(89%);
}

.active {
  background-color: #271078;
  color: white;
}
.table-with-bg tbody tr:nth-child(even) {
  background: #f6f6f6;
}

.custom-select {
  padding-right: 2.5rem; /* Adjust padding to shift the dropdown icon */
  -webkit-appearance: none; /* Remove default dropdown arrow */
  -moz-appearance: none; /* Remove default dropdown arrow */
  appearance: none; /* Remove default dropdown arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}
.role::-webkit-scrollbar {
  width: 4px; /* Set the width of the vertical scrollbar */
  height: 0; /* Hide the horizontal scrollbar */
}

.role::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.role::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.role {
  overflow-y: auto;
  overflow-x: hidden;
}

.no-scrollbar {
  scrollbar-width: none;
  scrollbar-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
.shimmer {
  background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
}
